<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>our service</title>
    <link rel="stylesheet" type="text/css" href="ourservice.css">
    <script src="https://kit.fontawesome.com/c4254e24a8.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">
<h1>Our services</h1>
<div class="row">
    <div class="service">
        <i class="fa-solid fa-book"></i>
        <h2>Book Selection</h2>
        <p>We offer a carefully curated collection of books, ranging from bestsellers to niche genres. Our team of literary enthusiasts handpicks each title to ensure a diverse and captivating reading experience for our customers.</p>
    </div>

    <div class="service">
        <i class="fa-solid fa-truck-fast"></i>
        <h2>Fast and Secure Shipping</h2>
        <p>We understand the excitement of receiving a new book promptly. That's why we prioritize fast and reliable shipping services. Rest assured, your order will be carefully packaged and delivered securely to your doorstep, allowing you to delve into your chosen book without delay.</p>
    </div>

    <div class="service">
        <i class="fa-solid fa-book-open-reader"></i>
        <h2>Book Club Support</h2>
        <p>We are passionate about promoting the joy of reading through book clubs. If you're part of a book club or interested in starting one, we offer support by providing discounts on bulk orders, discussion guides, and recommendations for captivating reads that inspire lively conversations among book club members.</p>
    </div>

</div>
    </div>
</body>
</html>