<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>our service</title>
    <link rel="stylesheet" type="text/css" href="ourservice.css">
    <script src="https://kit.fontawesome.com/c4254e24a8.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">
<h2>"For the time being, we are pleased to announce that we are accepting PayPal as our preferred payment method."</h2>
<div class="row">
    <div class="service">
        <i class="fa-brands fa-cc-paypal"></i>
        <h2>Paypal</h2>
      
    </div>

    <div class="service">
        <i class="fa-brands fa-cc-visa"></i>
        <h2>Visa</h2>
      
    </div>

    <div class="service">
        <i class="fa-brands fa-cc-mastercard"></i>
        <h2>Mastercard</h2>
     
    </div>

</div>
    </div>
</body>
</html>