
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/style.css' %}">
</head>
<body>
  <div class="container">
    <div class="register-container">
      <h1>Register</h1>
      <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-group">
          <input type="submit" value="Register" class="btn btn-primary">
        </div>
      </form>
      <p class="login-link">Already have an account? <a href="{% url 'login' %}">Login here</a></p>
    </div>
  </div>
</body>
</html>
